{% extends "base.html" %}

{% block content %}
<h1>Log In</h1>
<form action="\login" method="post" name="login">
    {{ loginform.hidden_tag() }}
    <br /> {{ loginform.email.label }} {{ loginform.email(size=20) }}
    <br /> {{ loginform.password.label }}{{ loginform.password }}
    <br /> {{ loginform.recaptcha }}
    <br />
    <input type="submit" value="Log In">
</form>
<hr />
<h1>Sign Up</h1>
<form action="\signup" method="post" name="signup">
    {{ signupform.hidden_tag() }}
    <br /> {{ signupform.email.label }} {{ signupform.email(size=20) }}
    <br /> {{ signupform.password.label }}{{ signupform.password }}
    <br /> {{ signupform.recaptcha }}
    <br />
    <input type="submit" value="Sign Up">
</form>
{% endblock %}